@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
  scroll-behavior: smooth;
  font-family: var(--font-arimo);
  line-height: 20px;
  overflow-x: hidden;
}

.font-arimo {
  font-family: 'Arimo', sans-serif;
}

.font-heebo {
  font-family: 'Heebo', sans-serif;
}

.content-wrapper {
  @apply mx-auto max-w-7xl px-5;
}

.nav-link {
  @apply relative flex h-[38px] items-center px-4 font-bold text-white underline decoration-transparent underline-offset-4 cursor-pointer;
  @apply text-[32px] md:text-base leading-[34px] md:leading-[17px];
  @apply hover:decoration-white/50 hover:underline-offset-[6px];
  @apply transition-all duration-300 ease-in-out;
  font-family: var(--font-heebo);

  &.active {
    @apply decoration-secondary underline-offset-[6px];
  }
}

h1 {
  @apply text-[38px] font-black leading-10 lg:text-5xl lg:leading-[50px];
  font-family: var(--font-heebo);
}

.h2,
h2 {
  @apply text-[28px] font-bold leading-[30px] leading-[34px] text-primary lg:text-[32px];
  font-family: var(--font-heebo);
  &.light {
    @apply text-white;
  }
}

.h3,
h3 {
  @apply text-2xl font-bold leading-[25px] text-primary;
  font-family: var(--font-heebo);
}

p {
  @apply text-lg font-normal leading-5 text-black;
}

.btn-primary {
  @apply rounded bg-secondary px-6 py-3 text-base font-bold leading-4 text-black;
  @apply transition-all duration-300 ease-in-out;
  @apply hover:shadow-xl focus:shadow-xl;
  font-family: var(--font-heebo);
}

input, textarea {
  @apply text-base flex-1 rounded-lg px-4 py-3 leading-[19px] text-black border border-black/50;
  @apply transition-all ease-in-out duration-200 outline-secondary hover:shadow-xl focus:shadow-xl;
}
